.linkstyle {
    font-size: small;
    color: #fff;
    text-decoration-line: none
}

.linkstyle:hover {
    font-size: small;
    color: #fff;
    text-decoration-line: none
}

.btnClean:hover {
 color: black;
 cursor: pointer;
 opacity: 85%;
}